# Dependencies
node_modules/
node-modules/
package-lock.json

# Expo
.expo/
dist/
web-build/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
*.aab
*.apk
build/
ios/build/
android/app/build/
android/.gradle/

# Temporary files
*.log
*.tmp

suhoor-backend
suhoor-backend/
suhoor-backend/*

.metro-cache/