# OS
.DS_Store
Thumbs.db

# Android / IntelliJ build artifacts
build/
.idea/
.gradle/
local.properties
*.iml
*.hprof
.cxx/
android/app/build/
android/.gradle/
android/build/

# Node modules
node_modules
node_modules/
node_modules/*
node-modules
node-modules/
node-modules/*

# Expo / Bundles
.expo/
*.jsbundle
dist/
web-build/